<div class="wrapper">
  <table
    *ngIf="!loading"
    mat-table
    [dataSource]="teams"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Actions</th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="width: 10%">
          <button mat-raised-button color="primary">See more</button>
          <button mat-raised-button color="accent">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteTeam(row.id)">
            Delete
          </button>
        </td>
      </tr>
      ></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
