<div class="wrapper">
  <div class="form-container">
    <h1>Add new team</h1>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Name..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="City..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Country..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Transfer fee..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Money balance..." />
    </mat-form-field>
    <div class="btn-container">
      <button mat-flat-button color="accent"><a href="/teams">Cancel</a></button>
      <button mat-flat-button color="primary">Submit</button>
    </div>
  </div>
</div>
