<div class="wrapper">
  <div class="form-container">
    <h1>Add new player</h1>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Name..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Surname..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Age..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Career start date..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Team..." />
    </mat-form-field>
    <div class="btn-container">
      <button
        mat-flat-button
        color="accent"
      >
        <a href="/players">Cancel</a>
      </button>
      <button mat-flat-button color="primary">Submit</button>
    </div>
  </div>
</div>

