<mat-toolbar>
  <span><a class="title" href="/">Football Manager</a></span>
  <span class="spacer"></span>
  <button mat-stroked-button routerLink="" routerLinkActive="active">
    Teams
  </button>
  <button mat-stroked-button routerLink="players" routerLinkActive="active">
    Players
  </button>
  <button mat-stroked-button routerLink="add-team" routerLinkActive="active">
    Add team
  </button>
  <button mat-stroked-button routerLink="add-player" routerLinkActive="active">
    Add player
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
